.flight, .luggages, .log-audit {
  .toolbar {
    height: 38px;
    align-self: flex-start;
    min-width: 62px;
    >button {
      height: 100%;
      line-height: 100%;
    }
  }
  .tab-group {
    position: absolute;
    top: 100px;
    left: 218px;
    right: 0;
    margin: auto;    
    display: flex;
    justify-content: center;
    .tabs-parent {
      margin-right: 20px;
    }
  }
  .tabs-parent {
    .tab-item>div {
      height: 20px;
      line-height: 24px;
    }
  }
  .tab-item {
    color: $gray-rd;
    cursor: pointer;
    &.current-item {
      box-sizing: border-box;
      margin: 2px;
      background: linear-gradient(to right, rgb(70, 166, 249), rgb(87, 140, 254));
      color: #fff !important;
      border-radius: 60px/50px;
      >div {
        line-height: 20px!important;
      }
    }
    &:hover {
      color: $blue;
    }
    &:not(:last-child)>div {
      border-right: none!important;
    }
    // >div {
    //   margin: 8px 0;
    //   padding: 0 24px;
    //   display: flex;
    // }
  }
}

.under-head-dialog {
  .dialog {
    top: 80px !important;
  }
}
.whole-table-cont {
  margin-top: 0 !important;
}
.table-cont {
  margin-top: 16px;
  border-radius: 10px;
  overflow: hidden;

  .table-title {
    height: 52px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    >.left {
      margin-left: 20px;
      font-size: 16px;

      >.label {
        color: $gray-st;
        font-weight: bold;
      }

      >.info {
        margin-left: 12px;
        color: $gray-nd;
      }
    }

    >.right {
      margin-right: 20px;
      display: inline-flex;
    }

    >div {
      margin: auto 0;
    }
  }
}

.module {
  $menuW: 218px;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  >.header {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    background-color: #1A2D3E;
    width: $menuW;
    margin: -20px 0 -20px -20px;
    padding: 20px;
    >.module-img {
      width: 100%;
      height: $menuW / 2;
      border-radius: 8px;
      margin-bottom: 20px;
      padding-top: 29px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      >.title {
        width: 100%;
        text-align: left;
        padding-left: 16px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        color: #fff;
      }
      >.sub-title {
        width: 100%;
        font-size:14px;
        font-family: MicrosoftYaHei;
        font-weight:400;
        color:rgba(251,252,253,1);
      }
    }
    $h: 68px;
    $w: 12px;
    >.hidden-button {
      position: absolute;
      width: $w;
      height: $h;
      background-image: url(~@img/img/img_menu_close.png);
      left: $menuW;
      top: calc(50% - #{$h} / 2);
      border-radius: 0 #{$w * 2} #{$w * 2} 0 / #{$h};
      cursor: pointer;
      // &:before,
      // &:after {
      //   content: '';
      //   display: block;
      //   background: #fff;
      //   position: absolute;
      //   width: 1px;
      //   height: 8px;
      //   left: $w - 10px;
      // }

      // &:before {
      //   transform: rotate(45deg);
      //   top: $h / 2 - 6px;
      // }

      // &:after {
      //   transform: rotate(-45deg);
      //   top: $h / 2 - 1px;
      // }
    }
    &.hidden {
      margin-left: 0 - $menuW - 20px;

      >.hidden-button {
        background-image: url(~@img/img/img_menu_open.png);
        // &:before {
        //   transform: rotate(-45deg);
        // }

        // &:after {
        //   transform: rotate(45deg);
        // }
      }
    }
  }

  >.body {
    flex-grow: 1;
    min-width: calc(100% - #{$menuW});
    max-width: calc(100%);
    margin-left: 20px;

    &.tree {
      >.title {
        color: #fff;
        width: 100%;
        background-image: url(~@img/bg/bg_tree_title.png);
      }

      >div {
        position: relative;

        >.left-tree {
          padding-top: 20px;
          position: absolute;
          height: calc(100% - 40px);
          top: 60px;
          left: -280px;
          right: calc(100% + 20px);
          background-color: rgba(61, 78, 95, 1);
          overflow-x: auto;
          .tree-label {
            color: #fff;
          }
        }

        &:last-child {
          margin-left: 20px;
          width: calc(100% - 260px);
        }
      }
    }

    >.header {
    }
    >.title {
      height: 80px;
      min-height: 80px;
      color: $gray-st;
      font-size: 28px;
      font-weight: bold;
      text-align: left;
      margin-left: -20px;
      margin-top: -20px;
      padding: 0 0 0 20px;
      display: inline-flex;
      align-items: center;

      >div {
        line-height: 28px;
      }
      >.icon {
        margin-right: 16px;
        width: 6px;
        height: 30px;
        background: linear-gradient(0deg,rgba(105,107,255,1),rgba(80,185,240,1));
        border-radius:2px;
      }
    }
  }
}
/* 信息共享平台  样式*/
.red-color {
  color: #F75467!important;
}
.red-color-bold {
  color: #F75467;
}
.other-class {
  background-color: #EAF4FF;
  color: #3392FF;
  margin: 0 4px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
}
.fly-class {
  background-color: #F3F5F7;
  color: #899DB2;
  margin: 0 4px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
}
.marking-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 列表标注 色点/文字 */
.dot-font {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-font div {
  margin-right: 8px;
  height: 10px;
  width: 10px;
  float: left;
  border-radius: 50%;
}
// 普通
.dot-color-normal {
  background: #A3B6CC;
}
// 拉减
.dot-color-cancel {
  background: #F75467;
  // 黄色
}
// 追加
.dot-color-add {
  background: #3392FF;
}
// VIP
.dot-color-vip {
  background: #01B674;
}
// 挑找
.dot-color-find {
  background: #696DF7;
}

/* 覆盖iview样式 */
.ivu-dropdown-rel {
  width: 100%!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}